root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
tab_width = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{ps1,ps?1}]
charset = utf-8-bom
end_of_line = crlf
# ISEの仕様に合わせる
indent_size = 4

[*.bat]
charset = latin1
end_of_line = crlf

# 何かあったときにメモ帳で読めないと辛いので
[ansible/**/{*-,}win.yml]
end_of_line = crlf

[{README.md, LICENSE}]
end_of_line = crlf
